.sbdocs pre {
  color: inherit;
}

.sbdocs .token.tag:not(body) {
  align-items: center;
  background-color: inherit;
  border-radius: 0;
  color: inherit;
  display: inline-block;
  font-size: inherit;
  height: inherit;
  justify-content: center;
  line-height: inherit;
  padding-left: 0;
  padding-right: 0;
  white-space: nowrap;
}

.sbdocs .delete {
  margin-right: 8px;
}
